#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [24]:
# Your code here:
data = pd.read_csv('ttest_machine.txt',  sep=' ', encoding='utf-8')
data.head()

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5

New_machine	Old_machine
0	42.1	42.7
1	41.0	43.6
2	41.3	43.8
3	41.8	43.3
4	42.4	42.5

In [25]:
data['New_machine'].mean()

42.14

42.14

In [26]:
data['Old_machine'].mean()

43.230000000000004

43.230000000000004

In [27]:
#Independent Samples
#For two groups where we cannot match the observations to one another. In this case transactions from a website with different interfaces (a, b)

In [32]:
# Hyp: HO: mean fare in New_machine is <=  Old_machine 
#      H1: mean fare in New_machine is >  Old_machine          
#Significande level: 5%

stat, pvalue =st.ttest_ind(data['New_machine'], data['Old_machine'], equal_var=False) # if we don't assume equal variance the test will be more robust

In [33]:
print ('statixtic : ', stat, 'p value (single tailed): ', pvalue/2 )

statixtic :  -3.3972307061176026 p value (single tailed):  0.00162112473315899

statixtic :  -3.3972307061176026 p value (single tailed):  0.00162112473315899

In [ ]:
# The p-value (0.0016) is less than 0.05 then we reject the null hypothesis. 
# Suggests that the mean in the new machine is statistically significantly greater than the mean in the old machine 
# The negative test statistic (-3.39) indicates that the mean  in the new machine is significantly less than the mean in the old machine.

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [55]:
# Your code here:
pokemon = pd.read_csv('pokemon.txt')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [48]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    for feature in features:
        # Perform t-test for the current feature
        t_stat, p_value = st.ttest_ind(s1[feature], s2[feature])
        
        # Store the result in the dictionary
        results[feature] = p_value
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [49]:
legendary_pokemon = pokemon[pokemon['Legendary'] == True].sample(15)
non_legendary_pokemon = pokemon[pokemon['Legendary'] == False].sample(15)

# Call the t_test_features function
t_test_results = t_test_features(legendary_pokemon, non_legendary_pokemon)

# Print the results
print(t_test_results)

{'HP': 0.03001934960672676, 'Attack': 6.323773883476144e-05, 'Defense': 0.018230278105360133, 'Sp. Atk': 0.00034348712968443324, 'Sp. Def': 0.0059435467804291615, 'Speed': 0.0010344123651521322, 'Total': 1.9357417138152806e-06}

{'HP': 0.03001934960672676, 'Attack': 6.323773883476144e-05, 'Defense': 0.018230278105360133, 'Sp. Atk': 0.00034348712968443324, 'Sp. Def': 0.0059435467804291615, 'Speed': 0.0010344123651521322, 'Total': 1.9357417138152806e-06}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Reject H0: Legendary and non-Legendary Pokemon have significantly different stats in each of the tested features.

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [50]:
# Your code here
gen_1 = pokemon[pokemon['Generation'] == 1].sample(15)
gen_2 = pokemon[pokemon['Generation'] == 2].sample(15)

# Call the t_test_features function
t_test_results = t_test_features(gen_1, gen_2)

# Print the results
print(t_test_results)

{'HP': 0.18508682506099958, 'Attack': 0.02859756025982945, 'Defense': 0.004422910327484781, 'Sp. Atk': 0.1926845787322069, 'Sp. Def': 0.5721219897230642, 'Speed': 0.028356596526408, 'Total': 0.057806415073328274}

{'HP': 0.18508682506099958, 'Attack': 0.02859756025982945, 'Defense': 0.004422910327484781, 'Sp. Atk': 0.1926845787322069, 'Sp. Def': 0.5721219897230642, 'Speed': 0.028356596526408, 'Total': 0.057806415073328274}

#### What conclusions can you make?

In [ ]:
# Generation 1 and Generation 2 Pokemon have significant differences in Attack, Defense, and Speed stats, 
# but not necessarily in HP, Special Attack, Special Defense, and Total stats.

#### Compare pokemons who have single type vs those having two types.

In [51]:
single_type = pokemon[pokemon['Type 2'].isnull()].sample(15)
two_type = pokemon[pokemon['Type 2'].notnull()].sample(15)

# Call the t_test_features function
t_test_results = t_test_features(single_type, two_type)

# Print the results
print(t_test_results)

{'HP': 0.4795790800553881, 'Attack': 0.12081793076107558, 'Defense': 0.07739626003599015, 'Sp. Atk': 0.37693401337619303, 'Sp. Def': 0.21741215520904505, 'Speed': 0.4850716526001364, 'Total': 0.20469432779045602}

{'HP': 0.4795790800553881, 'Attack': 0.12081793076107558, 'Defense': 0.07739626003599015, 'Sp. Atk': 0.37693401337619303, 'Sp. Def': 0.21741215520904505, 'Speed': 0.4850716526001364, 'Total': 0.20469432779045602}

#### What conclusions can you make?

In [ ]:
# No reject H0: There is no strong evidence to suggest significant differences in most of the stats between Pokemon with single type and two types 
# The p-values are greater than 0.05 for most features indicating a lack of statistical significance.

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [56]:
# We are comparing within the same population (all Pokemons) then we can use a paired t-test to determine if there are significant differences between these attributes. 

# Attack vs. Defense
stat_attack_defense, pvalue_attack_defense = st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

# Sp. Atk vs. Sp. Def
stat_sp_atk_sp_def, pvalue_sp_atk_sp_def = st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

# Print the results
print("Attack vs. Defense:")
print("P-Value:", pvalue_attack_defense)

print("\nSp. Atk vs. Sp. Def:")
print("P-Value:", pvalue_sp_atk_sp_def)

Attack vs. Defense:
P-Value: 1.7140303479358558e-05

Sp. Atk vs. Sp. Def:
P-Value: 0.3933685997548122

Attack vs. Defense:
P-Value: 1.7140303479358558e-05

Sp. Atk vs. Sp. Def:
P-Value: 0.3933685997548122

#### What conclusions can you make?

In [ ]:
# There is evidence of a significant difference between Attack and Defense stats.
# There is no significant difference between Sp. Atk and Sp. Def stats.